:root {
    --color-black: #1B1A1A;
    --color-primary-dark: #3D0000;
    --color-primary-medium: #950101;
    --color-primary: #FF0000;
    --color-primary-lighter: #E1343A;
    --color-primary-light: #F79E80;
    --color-secondary: #E76F71;
    --color-secondary-light: #F8B7BB;
    --color-white: #FAE6DF;
}