:root {
    --color-black: #1B1A1A;
    --color-primary-dark: #3D0000;
    --color-primary-medium: #950101;
    --color-primary: #FF0000;
    --color-primary-lighter: #E1343A;
    --color-primary-light: #F79E80;
    --color-primary-darker: #f3815d;
    --color-secondary: #E76F71;
    --color-secondary-light: #F8B7BB;
    --color-white: #FAE6DF;
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 32px;
    --spacer-5: 40px;
    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.125rem;
    --font-size-5: 1.25rem;
    --line-height-1: 1rem;
    --line-height-2: 1.25rem;
    --line-height-3: 1.5rem;
    --line-height-4: 1.75rem;
    --font-quote: 'Caveat', cursive;
}